
<!-- Side nav -->
<md-sidenav
	class="md-sidenav-left md-whiteframe-z3"
	md-component-id="left"
	md-is-locked-open="$mdMedia('gt-md')"
	ng-swipe-left="methods.closeLeftSideNav()"
>
	<!-- Toobar -->
	<md-toolbar class="md-hue-1">
		<h1 class="md-toolbar-tools">{{ models.config.panelName }}</h1>
	</md-toolbar>

	<div layout="column" flex>
		<div ng-repeat="p in models.panel" layout="column">
			<md-subheader class="md-primary">{{ p.name }}</md-subheader>
			<md-button ng-repeat="o in p.options" ng-click="methods.goToState(o.state)">{{ o.name }}</md-button>
		</div>
	</div>

</md-sidenav>


<!-- Main container -->
<md-content layout="column" flex>

	<!-- Toolbar -->
	<md-toolbar layout="row">
		<md-icon
			class="toolbar-button"
			flex="10"
			md-svg-icon="res/icons/menu.svg"
			hide-gt-md
			ng-click="methods.openLeftSideNav()"
		></md-icon>
		<h1 flex class="md-toolbar-tools" layout-align="center">{{ models.config.consoleName }}</h1>
	</md-toolbar>

	<!-- Main content -->
	<md-content style="background:#eee;" flex layout ui-view></md-content>

</md-content>