<md-content layout="column" flex ng-swipe-right="asd=123">

	<!-- <div flex style="background:orange; position: aboslute; overflow: hidden;"> -->
		<!-- <div equiviewr style="background:green; position: aboslute;" flex></div> -->
	<!-- </div> -->
	<md-content style="background: #000;" flex="65">
		<equiviewr></equiviewr>
	</md-content>

	<md-content flex layout="column" layout-padding>
		<div flex layout="column" layout-align="center center">
			<span class="md-title">{{ models.building.details }}</span>
			<span class="md-body-1">{{ models.building.address }}</span>
			<span class="md-caption">{{ models.building.district }}, {{ models.building.city }}</span>
			<span class="md-subhead md-primary">S/. {{ models.building.price }}</span>
		</div>
		<div layout style="text-align: center; font-size: 12px;" layout-align="center center">
			<div flex>{{ models.building.area }}m²</div>
			<div flex>{{ models.building.nrooms }} cuartos</div>
			<div flex>{{ models.building.nbaths }} baños</div>
			<md-button class="md-raised md-primary">Contactar</md-button>
		</div>
	</md-content>

</md-content>