<md-content layout="column" flex ng-swipe-right="methods.openLeftSideNav();">

	<div layout layout-padding flex="15">
		<md-select placeholder="Ordenar por:" ng-model="someVal" flex>
			<md-option value="1">Defecto</md-option>
			<md-option value="2">Precio</md-option>
		</md-select>
	</div>
	<md-content layout="column" style="background: #eee;" layout-padding flex>

		<div
			ng-repeat="b in models.buildings"
			class="md-whiteframe-z2"
			layout
			layout-margin
			flex="20"
			style="background: #fff;"
			ui-sref="building({ buildingId: b.id })"
		>
			<!-- Photo container -->
			<div flex="30" style="background: url({{ b.photo }})no-repeat center center;background-size:cover;"></div>
			<!-- Details container -->
			<div flex layout="column">
				<div flex layout="column" layout-align="center start">
					<span class="md-subhead">{{ b.details }}</span>
					<span class="md-caption">{{ b.district }}, {{ b.city }}</span>
					<span class="md-body-1 md-primary">S/. {{ b.price }}</span>
				</div>
				<div layout style="text-align: center; font-size: 12px;">
					<div flex>{{ b.area }}m²</div>
					<div flex>{{ b.nrooms }} cuartos</div>
					<div flex>{{ b.nbaths }} baños</div>
				</div>
			</div>
		</div>

		<md-button ng-click="methods.addMoreItems();">Cargar mas</md-button>

	</md-content>

</md-content>